@import '../colors'

//bootstrap overwrite
.nav>li>a:focus, .nav>li>a:hover
  background-color: transparent

.main-header
  .logo-header
    padding-top: 30px
    padding-bottom: 20px
    background: transparent
    min-height: 50px

  .mobile-nav
    padding: 2px 0
    color: $linkColor-white
    ul.nav-item li a
      display: block
      margin: 20px 0
      position: relative

  .desktop-nav .desktop-nav-menu ul > li > a
    padding: 0 20px
    color: $linkColor-white
    line-height: 30px

  .desktop-nav .desktop-nav-menu ul > li > a:hover
    color: $mainRed






