<div class="row main-footer">
    <div class="col-xs-12 col-md-4">
      <h4 class="footer-title">Style Separates Man</h4>
      <h6>@2016 Style Separates Man Ltd. All Rights Reserved.</h6>
    </div>
<div class="col-xs-12 col-md-4">
  <h4 class="footer-title">INFO</h4>
  <ul class="list-unstyled">
    <li><a href="">Store Locations</a></li>
    <li><a href="">Search</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Privacy</a></li>
  </ul>
</div>
  <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
    <h4 class="footer-title">SUBSCRIBE</h4>
    <p>Mailing list and product updates:</p>
    <form class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Your Email">
        <button type="submit" class="ok-btn">OK</button>
      </div>
    </form>
    <ul class="list-unstyled list-inline social-icon-list">
      <li><a href=""><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
