@import "../../../colors"

.user-profile-edit
  padding: 50px

  form
    width: 550px
    margin: 5rem auto 0 auto
    line-height: 3rem

    .radio-group
      margin: 15px 0

    .error
      color: $mainRed
      font-weight: bold

    .fa.fa-square-o, .fa.fa-check-square-o
      margin-right: 5px
      vertical-align: middle

    input[type=checkbox]
      display: none
      cursor: pointer