<div class="row user-profile-edit">
    <div class="col-md-4 col-md-offset-3">
        <h1>Edit Profile</h1>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="firstName">First Name</label>
                    <input class="form-control" type="text" name="firstName" formControlName="firstName" [ngModel]="firstName" required>
                    <div *ngIf="editForm.get('firstName').hasError('required') && editForm.get('firstName').touched"
                         class="error">
                        First Name is Required
                    </div>
                    <div *ngIf="editForm.get('firstName').hasError('minlength') && editForm.get('firstName').touched"
                         class="error">
                        Minimum of 2 characters
                    </div>
                    <div *ngIf="editForm.get('firstName').hasError('maxlength') && editForm.get('firstName').touched"
                         class="error">
                        Maximum of 24 characters
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" type="text" name="lastName" formControlName="lastName" [ngModel]="lastName" required>
                    <div *ngIf="editForm.get('lastName').hasError('required') && editForm.get('lastName').touched"
                         class="error">
                        Last name is required
                    </div>
                    <div *ngIf="editForm.get('lastName').hasError('minlength') && editForm.get('lastName').touched"
                         class="error">
                        Minimum of 2 characters
                    </div>
                    <div *ngIf="editForm.get('lastName').hasError('maxlength') && editForm.get('lastName').touched"
                         class="error">
                        Maximum of 24 characters
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="address">Address</label>
                    <input class="form-control" type="text" name="address" formControlName="address" [ngModel]="address" required>
                    <div *ngIf="editForm.get('address').hasError('required') && editForm.get('address').touched"
                         class="error">
                        Address is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="city">City</label>
                    <input class="form-control" type="text" name="city" formControlName="city" [ngModel]="city" required>
                    <div *ngIf="editForm.get('city').hasError('required') && editForm.get('city').touched"
                         class="error">
                        City is required
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label for="state">State</label>
                    <input class="form-control" type="text" name="state" formControlName="state" [ngModel]="state" required>
                    <div *ngIf="editForm.get('state').hasError('required') && editForm.get('state').touched"
                         class="error">
                        State is required
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label for="zipcode">Zip Code</label>
                    <input class="form-control" type="text" name="zipcode" formControlName="zipcode" [ngModel]="zipcode" required>
                    <div *ngIf="editForm.get('zipcode').hasError('required') && editForm.get('zipcode').touched"
                         class="error">
                        State is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" formControlName="email" [ngModel]="email" required>
                    <div *ngIf="editForm.get('email').hasError('required') && editForm.get('email').touched"
                         class="error">
                        Email is required
                    </div>
                    <div *ngIf="editForm.get('email').hasError('pattern') && editForm.get('email').touched"
                         class="error">
                        Invalid email
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="DOB">Date Of Birth</label>
                </div>
                <div class="form-group col-xs-4">
                    <select name="birthMonth" class="form-control">
                        <option [value]="month" *ngFor="let month of birthMonths">{{month}}</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <select name="birthDate" class="form-control">
                        <option value="date" *ngFor="let date of birthDates">{{date}}</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <select name="birthYear" class="form-control">
                        <option value="year" *ngFor="let year of birthYears">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="martialArt">What are your favroite martial arts?</label>
                </div>
                <div class="col-xs-12">
                        <label class="checkbox-inline" *ngFor="let martialArt of martialArts">
                            <input type="checkbox" [value]="martialArt"><i class="fa fa-square-o fa-lg" [ngClass]="{'fa-square-o' : !isChecked, 'fa-check-square-o' : isChecked}" (click)="onCheck()"></i>{{martialArt | lowercase }}
                        </label>
                </div>
            </div>
            <button class="btn submit-btn" [disabled]="!editForm.valid" type="submit">Update</button>
        </form>
    </div>
</div>