<div class="row forgot-password">
    <div class="col-xs-4 col-md-offset-4">
        <h1>Password Assistance</h1>
        <p>Enter the email address associated with your Roots Of Fight account.</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" formControlName="email">
                <div *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched"
                     class="error">
                    Email is required
                </div>
                <div *ngIf="forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').touched"
                     class="error">
                    Invalid email
                </div>
                <button type="submit" class="submit-btn" [disabled]="!forgotPasswordForm.valid">Continue</button>
            </div>
        </form>
    </div>
</div>