<div class="row product-landing">
    <div class="col-lg-6 col-lg-push-2">
        <h1>Lorem ipsum dolor Tee</h1>
        <h3>$39.95 USD</h3>
        <div class="row">
            <div class="form-group col-lg-4">
                <select class="form-control">
                    <option *ngFor="let size of sizeCharts">{{size}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-2">
                <label>Quantity</label>
                <input type="number">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <button class="btn submit-btn">ADD TO CART</button>
            </div>
        </div>
        <div class="row">
                <img class="product-img" src="http://placehold.it/150x150" alt="">
                <img class="product-img" src="http://placehold.it/150x150" alt="">
        </div>
        <div class="row">
            <img class="product-img" src="http://placehold.it/150x150" alt="">
            <img class="product-img" src="http://placehold.it/150x150" alt="">
        </div>
    </div>
    <div class="col-lg-6">
        <img src="http://placehold.it/450x650" alt="">
    </div>
        <div class="col-xs-9 col-xs-push-2 description">
            <p><span class="bold">Product Description</span>: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
        </div>
    <div class="col-xs-12 similar-product">
        <h1 class="text-center">Similar Products</h1>
    </div>
</div>