@import "colors"

//global style

body
  font-family: "Roboto", Helvetica, SansSerif, Arial
  color: #e6e6e6
  line-height: 1.6
  font-size: 12px
  letter-spacing: 1px
  padding: 0
  maring: 0
  font-weight: normal
  font-style: normal

a, a:link, a:visited, a:hover, a:active
  color: $linkColor-white
  text-decoration: none

a:hover
  color: $mainRed

.bold
  text-weight: bold

input[type="text"], input[type="email"], input[type="password"]
  font-size: 1em
  border-radius: 5px
  background: #000000
  border: 1px solid #444444
  box-shadow: none
  color: $textColor-white

button.btn.submit-btn
  background-color: $mainRed
  border-color: #444444
  text-transform: uppercase
  letter-spacing: 1.5px
  border-radius: 5px
  padding: 10px 12px
  font-size: 1.4em
  cursor: pointer
  margin-top: 15px






