<div class="backdrop" [ngStyle]="{'display': display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
          {{ error?.title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onErrorHandled()"><span aria-hidden="true"><i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i>
</span></button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{ error?.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close-btn" (click)="onErrorHandled()">Close</button>
      </div>
    </div>
  </div>
</div>